{% extends 'shared/base.html' %}

{% block content %}
<section id="exercise-details">
    <h2>{{exercise.name}}</h2>
    <h3>{{exercise.language}}</h3>
</section>
<section id="exercise-actions">
    <form action="{% url 'exercisesapp:exercise_edit_form' exercise.id %}" method="GET">
        {%csrf_token%}
        <button>Edit</button>
    </form>
    <form action="{% url 'exercisesapp:exercise' exercise.id %}" method="POST">
        {%csrf_token%}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>
</section>
<section id="exercise-assignments">
    <h4>Assigned to:</h4>
    <form action="{% url 'exercisesapp:assignment_form' exercise.id %}" method="GET">
        {%csrf_token%}
        <button>Assign to Student</button>
    </form>
    <ul>
        {% for assignment in exercise.assignments %}
        <li>{{assignment.student.first_name}} {{assignment.student.last_name}} (assigned by {{assignment.instructor.first_name}} {{assignment.instructor.last_name}})
            {% if user.instructor.id == assignment.instructor.id %}
            <form action="{% url 'exercisesapp:delete_assignment' exercise.id assignment.id %}" method="POST">
                {%csrf_token%}
                <!-- include hidden input to indicate that a different resource is being targeted -->
                <input type="hidden" name="actual_resource" value="assignment"> 
                <input type="hidden" name="actual_method" value="DELETE">
                <button>Delete Assignment</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}