{% extends 'shared/base.html' %}

{% block content %}
<section id="exercise-details">
    <h2>{{exercise.name}}</h2>
    <h3>{{exercise.language}}</h3>
</section>
<section id="exercise-actions">
    <!-- <form action="{% url 'exercisesapp:exercise_edit_form' exercise.id %}" method="GET">
        {%csrf_token%}
        <button>Edit</button>
    </form> -->
    <!-- <form action="{% url 'exercisesapp:exercise' exercise.id %}" method="POST">
        {%csrf_token%}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form> -->
</section>
<section id="exercise-assignments">
    <h4>Assigned to:</h4>
    <ul>
        {% for assignment in exercise.assignments %}
        <li>{{assignment.0.first_name}} {{assignment.0.last_name}} (assigned by {{assignment.1.first_name}} {{assignment.1.last_name}})</li>
        {% endfor %}
    </ul>
</section>

{% endblock %}