{% extends 'shared/base.html' %}

{% block content %}
<section id="cohort-details">
    <h2>{{cohort.name}}</h2>
</section>
<section id="cohort-actions">
    <form action="{% url 'exercisesapp:cohort_edit_form' cohort.id %}" method="GET">
        {%csrf_token%}
        <button>Edit</button>
    </form>

</section>
<section id="cohort-instructors">
    <h4>Instructors:</h4>
    <ul>
        {% for instructor in cohort.instructors %}
        <li><a href="{% url 'exercisesapp:instructor' instructor.id %}">{{instructor.first_name}} {{instructor.last_name}}</a></li>
        {% endfor %}
    </ul>
</section>
<section id="cohort-students">
    <h4>Students:</h4>
    <ul>
        {% for student in cohort.students %}
        <li><a href="{% url 'exercisesapp:student' student.id %}">{{student.first_name}} {{student.last_name}}</a></li>
        {% endfor %}
    </ul>
</section>

{% endblock %}