{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercises</title>
    {% block css %}
    {% endblock css%}
</head>

<body>
    <nav id="site-nav">
        <ul class="navList">
            <li class="navList__route"><a href="{% url 'exercisesapp:instructors' %}">Instructors</a></li>
            <li class="navList__route"><a href="{% url 'exercisesapp:students' %}">Students</a></li>
            <li class="navList__route"><a href="{% url 'exercisesapp:exercises' %}">Exercises</a></li>
            <li class="navList__route"><a href="{% url 'exercisesapp:cohorts' %}">Cohorts</a></li>
            {% if request.user.is_authenticated %}
            <li class="navList__route"><a href="{% url 'exercisesapp:logout' %}">Logout</a></li>
            {% else %}
            <li class="navList__route"><a href="{% url 'exercisesapp:login' %}">Login</a></li>
            {% endif%}
        </ul>
    </nav>
    {% block content %}
    {% endblock content%}

    {% block scripts %}
    {% endblock scripts%}
</body>

</html>